<a routerLink="/addExpense">Add Expense</a>
<input type="text" [(ngModel)]="filters.keyword" 
                name="keyword"
                (input)="listExpenses()">
<select name="filter" [(ngModel)]="filters.sortBy" (change)="listExpenses()">
    <option>Name</option>
    <option>Amount</option>
</select>
<!-- <div *ngFor = "let expense of allExpenses">
    <h3>{{expense.expense}}</h3>
    <p>{{expense.amount | currency: '$'}}</p>
    <a routerLink="/editExpense/{{expense.id}}">Edit</a>
    <button (click)="deleteExpense(expense.id)">Delete</button>
</div> -->




<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Expense</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    <!-- <div *ngFor = "let expense of allExpenses"> -->
        <tr *ngFor =" let expense of allExpenses">
            <td>
                <div class="d-flex align-items-center">
                    
                    <div class="ms-3">
                    <p class="fw-bold mb-1">{{expense.expense}}</p>
                    
                    </div>
                </div>
            </td>
            <td>
                <p class="fw-bold mb-1">{{expense.description}}</p>
            </td>
            <td>
                <p class="fw-bold mb-1">{{expense.amount |currency:'$'}}</p>
            </td>
            <td>
                <a class="fw-bold mb-1" routerLink="/editExpense/{{expense.id}}">Edit</a>
            </td>
            <td>
            <button type="button"class="btn btn-sm btn-rounded btn btn-primary" 
                    mdbRipple rippleColor="dark" (click)="deleteExpense(expense.id)">
                Delete
            </button>
            </td>
        </tr>
    <!-- </div> -->
    </tbody>
  </table>